/* ::::: http://www.linshimuye.com/static/dist/css/dh-mall.css?_v_=f94f9ca4dd9799533d56e7ea5ec404fb ::::: */

.input:focus, .textarea:focus { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 147, 112, 0.6); outline: 0px none; }
.btn.focus, .btn:focus, .btn:hover, a, a:hover { text-decoration: none; }
.btn, .warning-tips i { vertical-align: middle; }
*, .after, .before, .smart-form .radio i, *::after, *::before { box-sizing: border-box; }
body, button, dd, dl, dt, html, img, input, li, ol, p, p1, select, table, tbody, td, tfoot, thead, tr, ul { padding: 0px; margin: 0px; }
table { border: 0px none; margin: 0px; border-collapse: collapse; border-spacing: 0px; }
img { border: medium none; }
a, body, button, input { font-family: "微软雅黑","Hiragino Sans GB","Sans GB"; font-size: 14px; color: rgb(102, 102, 102); }
body { word-break: break-all; }
button, input, textarea { background: transparent none repeat scroll 0px 0px; border: medium none; }
a, button, input, label, textarea { outline: 0px none; }
li { list-style: outside none none; }
i { display: inline-block; }
.g-warp, .g-wrap { width: 1200px; margin: 0px auto; }
.form-group { margin-bottom: 24px; }
.input-group { position: relative; width: 312px; }
.input-group input { width: 100%; }
.input-group .input-btn, .input-group .input-icon { background-color: rgb(0, 147, 114); position: absolute; display: block; height: 38px; width: 38px; }
.input-group .input-btn.right, .input-group .input-icon.right { top: 1px; right: 1px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.input-group i.icon-eye { background: rgb(255, 255, 255) url('pass_visible.png') no-repeat scroll 2px 11px; }
.btn.w312, .input { width: 312px; }
.input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; border: 1px solid rgb(231, 231, 231); outline: 0px none; height: 30px; line-height: 1.8; padding: 0px 10px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(102, 102, 102); }
.input:focus { border-color: rgb(0, 147, 114); }
.input::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
.btn { display: inline-block; height: 40px; text-align: center; padding: 0px 12px; color: rgb(26, 177, 146); cursor: pointer; border: 1px solid rgb(231, 231, 231); border-radius: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-user-select: none; }
a.btn { line-height: 40px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.a, .a:hover, .checkbox, .checkbox2, .nav > li, .radio, label { cursor: pointer; }
.btn-primary { background: rgb(0, 175, 141) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
label { font-size: 0px; }
label > span { font-size: 14px; }
.checkbox-group > label { margin-right: 10px; }
.checkbox, .checkbox2 { width: 0px; height: 0px; display: none; }
.checkbox + span, .checkbox2 + span { position: relative; padding-left: 18px; color: rgb(102, 102, 102); display: inline-block; line-height: 18px; }
.checkbox + span::after, .checkbox + span::before, .checkbox2 + span::after, .checkbox2 + span::before { content: ""; top: 50%; margin-top: -7px; position: absolute; width: 14px; height: 14px; display: inline-block; left: 0px; }
.checkbox + span::before, .checkbox2 + span::before { vertical-align: middle; background: transparent url('undefined') no-repeat scroll 0% 0% / 100% 100%; }
.checkbox + span::after, .checkbox2 + span::after { background: transparent url('undefined') no-repeat scroll 0% 0% / 100% 100%; opacity: 0; transition: opacity 0.4s ease 0s; }
.checkbox2:checked + span::after, .checkbox:checked + span::after { opacity: 1; }
.warning-tips { height: 40px; line-height: 40px; padding: 0px 12px; font-size: 0px; color: rgb(102, 102, 102); width: 312px; border: 1px solid rgb(250, 179, 145); background-color: rgb(254, 248, 245); margin-bottom: 10px; }
.warning-tips i { width: 14px; height: 14px; background: transparent url('undefined') repeat scroll 0% 0%; margin-right: 6px; }
.warning-tips span { vertical-align: middle; font-size: 12px; }
.dn, .hide { display: none; }
.fl { float: left; }
.clearfix::after { content: ""; display: block; clear: both; width: 0px; height: 0px; }
.txt-center, .txtCenter { text-align: center; }
.txt-right, .txtRight { text-align: right; }
.mgr24 { margin-right: 24px; }
.mgt24 { margin-top: 24px; }
.ft0 { font-size: 0px; }
.g-cube { width: 100%; }
.g-cube img { width: 100%; height: 100%; display: inline-block; }
.g-cube td { position: relative; }
.smart-form .radio input + i::after { content: ""; top: 2px; left: 2px; width: 8px; height: 8px; border-radius: 50%; position: absolute; opacity: 0; }
.smart-form .radio input:checked + i::after { opacity: 1; background-color: rgb(214, 214, 214); }
.pt5 { padding-top: 5px; }
.pb5 { padding-bottom: 5px; }
.f12 { font-size: 12px; }
/* ::::: http://www.linshimuye.com/static/dist/css/accountLogin.css?_v_=1526972087390 ::::: */

.dh-indexHeader__body { width: 100%; height: 100px; border-bottom: 1px solid rgb(26, 177, 146); }
.dh-indexHeader__body a { text-decoration: none; }
.dh-logo__wrap { display: inline-block; position: relative; margin-left: 20px; margin-top: 30px; }
.dh-indexHeader__body .dh-logo__link { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: transparent url('undefined') repeat scroll 0% 0%; }
.dh-index__main { width: 100%; background-color: rgb(255, 255, 255); height: 530px; }
.dh-index__ad { width: 406px; height: 406px; text-align: center; margin: 25px 154px 0px 166px; }
.dh-index__form { width: 474px; height: 100%; padding-top: 66px; }
.dh-index__form p { font-size: 18px; margin-bottom: 26px; }
.dh-index__form .dh-index__choice { width: 312px; margin-bottom: 24px; }
.dh-index__form .dh-index__choice a { display: block; width: 50%; }
.dh-index__form .input { height: 40px; line-height: 38px; }
.dh-index__wxlogin { width: 300px; height: 405px; margin-left: 20px; display: none; }
/* ::::: http://www.linshimuye.com/static/dist/css/pages.css?_v_=3c23ed089a781327abab7d5a356a1fc5 ::::: */

.dh-footer__body { width: 100%; min-width: 1200px; }
.dh-footer__up { background-color: rgb(255, 255, 255); overflow: hidden; }
.dh-footer__up2 { width: 1200px; margin: 0px auto; color: rgb(153, 153, 153); padding: 70px 0px; background-color: rgb(255, 255, 255); }
.dh-footer__up2 .br-line { border-width: 0px 1px 0px 0px; border-style: none dashed none none; border-color: -moz-use-text-color rgb(231, 231, 231) -moz-use-text-color -moz-use-text-color; }
.dh-footer__up2 .b-ft14 { font-size: 14px; font-weight: 700; line-height: 14px; }
.dh-footer__up2 .b-num-ft14 { line-height: 14px; font-size: 16px; margin-top: 20px; font-weight: 700; color: rgb(153, 153, 153); }
.dh-footer__up2 .b-num-ft16 { color: rgb(0, 176, 140); }
.dh-footer__up2 .ft12 { display: block; color: rgb(153, 153, 153); font-size: 12px; line-height: 12px; margin-top: 18px; font-weight: 400; }
.dh-footer__up2 .w198 { width: 198px; text-align: center; }
.dh-footer__up2 .w198 ul { display: inline-block; text-align: left; }
.dh-footer__up2 .w163 { width: 163px; text-align: center; }
.dh-footer__up2 .w163 ul { display: inline-block; text-align: left; }
.dh-footer__up2 .w160 { width: 160px; }
.dh-footer__code { margin: 0px 15px; }
.dh-footer__code img { width: 100px; height: 100px; }
.dh-footer__code span { font-size: 14px; line-height: 14px; text-align: center; margin-top: 12px; }
.dh-footer__down { color: rgb(153, 153, 153); background-color: rgb(51, 51, 51); padding: 24px 0px; }
.dh-footer__down a, .dh-footer__down span { line-height: 12px; color: rgb(153, 153, 153); font-size: 12px; }
.dh-footer__pop { display: none; }
.dl-right { margin-top: 15px; }
.dl-right li { display: none; font-size: 0px; text-align: center; }
.dl-right li span { display: inline-block; width: 100px; }
.dh-footer__code-img { margin-right: 15px; margin-bottom: 0px; margin-left: 15px; margin-top: -15px ! important; width: 145px ! important; }
.dh-footer__code-img img { width: 145px; height: 145px; margin-top: 5px; }
.dh-logo__link { display: block; position: absolute; width: 146px; height: 43px; cursor: pointer; background: transparent url('undefined') repeat scroll 0% 0%; }
.dh-header__right-content1-middle .checkbox-right span::before { margin-top: -11px; }
.dh-header__right-content1-middle .checkbox-right span::after { margin-top: -10px; }
@media screen and (max-width: 1260px) {
}
.dh-index__form { width: 474px; height: 100%; padding-top: 66px; }
.dh-index__form p { font-size: 18px; margin-bottom: 26px; }
.dh-index__form .dh-index__choice { width: 312px; margin-bottom: 24px; }
.dh-index__form .dh-index__choice a { display: block; width: 50%; }
.dh-index__formBottom { width: 310px; font-size: 0px; }
.dh-index__formBottom span { display: inline-block; font-size: 14px; float: left; line-height: 24px; }
.dh-index__formBottom span.ft0 { font-size: 0px; }
.dh-index__formBottom span i { width: 24px; height: 24px; vertical-align: middle; cursor: pointer; float: left; margin-left: 10px; }
.dh-index__formBottom span i.qq { background-image: url('qqlogin.png'); }
.dh-index__formBottom span i.qq:hover { background-image: url('qqlogin_active.png'); }
.dh-index__formBottom span i.wx { background-image: url('wxlogin.png'); }
.dh-index__formBottom span i.wx:hover { background-image: url('wxlogin_active.png'); }
.dh-im__window_emoji ul::after, .dh-im__window_footer_btns::after, .dh-im__window_record::after, .im_client::after, .im_client_txt_content::after, .im_client_txt_file .card .card_body::after, .im_client_txt_file .file_info::after, .im_row::after { clear: both; display: table; content: ""; }
.dh-im__imgview::after { content: ""; width: 0px; height: 100%; display: inline-block; vertical-align: middle; overflow: hidden; }
