/* ::::: http://www.linshimuye.com/static/dist/css/dh-mall.css?_v_=f94f9ca4dd9799533d56e7ea5ec404fb ::::: */

.input:focus, .textarea:focus { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 147, 112, 0.6); outline: 0px none; }
.btn.focus, .btn:focus, .btn:hover, a, a:hover { text-decoration: none; }
.btn, .warning-tips i { vertical-align: middle; }
*, .after, .before, .smart-form .radio i, *::after, *::before { box-sizing: border-box; }
body, button, dd, dl, dt, html, img, input, li, ol, p, p1, select, table, tbody, td, tfoot, thead, tr, ul { padding: 0px; margin: 0px; }
img { border: medium none; }
a, body, button, input { font-family: "微软雅黑","Hiragino Sans GB","Sans GB"; font-size: 14px; color: rgb(102, 102, 102); }
body { word-break: break-all; }
button, input[type="button"] { cursor: pointer; }
button, input, textarea { background: transparent none repeat scroll 0px 0px; border: medium none; }
a, button, input, label, textarea { outline: 0px none; }
li { list-style: outside none none; }
i { display: inline-block; }
.form-group { margin-bottom: 24px; }
.input-group { position: relative; width: 312px; }
.input-group input { width: 100%; }
.input-group .input-btn, .input-group .input-icon { background-color: rgb(0, 147, 114); position: absolute; display: block; height: 38px; width: 38px; }
.input-group .input-btn.right, .input-group .input-icon.right { top: 1px; right: 1px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.input-group i.icon-eye { background: rgb(255, 255, 255) url('pass_visible.png') no-repeat scroll 2px 11px; }
.btn.w312, .input { width: 312px; }
.input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; border: 1px solid rgb(231, 231, 231); outline: 0px none; height: 30px; line-height: 1.8; padding: 0px 10px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(102, 102, 102); }
.input:focus { border-color: rgb(0, 147, 114); }
.input::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
.input[disabled], .input[readonly], fieldset[disabled] .input { cursor: not-allowed; background-color: rgb(238, 238, 238); opacity: 1; }
.btn { display: inline-block; height: 40px; text-align: center; padding: 0px 12px; color: rgb(26, 177, 146); cursor: pointer; border: 1px solid rgb(231, 231, 231); border-radius: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-user-select: none; }
a.btn { line-height: 40px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.a, .a:hover, .checkbox, .checkbox2, .nav > li, .radio, label { cursor: pointer; }
.btn-primary { background: rgb(0, 175, 141) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
label { font-size: 0px; }
label > span { font-size: 14px; }
.checkbox-group > label { margin-right: 10px; }
.checkbox, .checkbox2 { width: 0px; height: 0px; display: none; }
.checkbox + span, .checkbox2 + span { position: relative; padding-left: 18px; color: rgb(102, 102, 102); display: inline-block; line-height: 18px; }
.checkbox + span::after, .checkbox + span::before, .checkbox2 + span::after, .checkbox2 + span::before { content: ""; top: 50%; margin-top: -7px; position: absolute; width: 14px; height: 14px; display: inline-block; left: 0px; }
.checkbox + span::before, .checkbox2 + span::before { vertical-align: middle; background: transparent url('undefined') no-repeat scroll 0% 0% / 100% 100%; }
.checkbox + span::after, .checkbox2 + span::after { background: transparent url('undefined') no-repeat scroll 0% 0% / 100% 100%; opacity: 0; transition: opacity 0.4s ease 0s; }
.line-title, .nav > li { text-align: center; position: relative; }
.checkbox2:checked + span::after, .checkbox:checked + span::after { opacity: 1; }
.warning-tips { height: 40px; line-height: 40px; padding: 0px 12px; font-size: 0px; color: rgb(102, 102, 102); width: 312px; border: 1px solid rgb(250, 179, 145); background-color: rgb(254, 248, 245); margin-bottom: 10px; }
.warning-tips i { width: 14px; height: 14px; background: transparent url('undefined') repeat scroll 0% 0%; margin-right: 6px; }
.c-search button, .c-search input { vertical-align: middle; height: 36px; }
.warning-tips span { vertical-align: middle; font-size: 12px; }
.c-search, .primary-tag { border: 1px solid rgb(26, 177, 146); }
.c-search, .nav { font-size: 0px; }
.c-search button, .nav, .nav-container { background: rgb(26, 177, 146) none repeat scroll 0% 0%; }
.c-search { display: inline-block; }
.c-search input { width: 380px; padding: 10px 8px; }
.c-search button { width: 120px; color: rgb(255, 255, 255); }
.nav-container { width: 100%; height: 40px; }
.nav > li { height: 40px; line-height: 40px; color: rgb(255, 255, 255); display: inline-block; font-size: 16px; width: 100px; -moz-user-select: none; transition: background-color 0.5s ease 0s; }
.nav > li.active, .nav > li.click, .nav > li:hover { background: rgb(0, 147, 114) none repeat scroll 0% 0%; }
.dn, .hide { display: none; }
.fl { float: left; }
.fr { float: right; }
.clearfix::after { content: ""; display: block; clear: both; width: 0px; height: 0px; }
.txt-center, .txtCenter { text-align: center; }
.txt-right, .txtRight { text-align: right; }
.mgr24 { margin-right: 24px; }
.mgt24 { margin-top: 24px; }
.ft0 { font-size: 0px; }
.smart-form .radio input + i::after { content: ""; top: 2px; left: 2px; width: 8px; height: 8px; border-radius: 50%; position: absolute; opacity: 0; }
.smart-form .radio input:checked + i::after { opacity: 1; background-color: rgb(214, 214, 214); }
.dh-pop-vhc { position: fixed; top: 50%; left: 50%; z-index: 999999; text-align: center; transform: translate(-50%, -50%); width: auto; }
.dh-pop-vhc-container { display: table-cell; text-align: left; }
.dh-pop-container { border-radius: 4px; padding: 10px; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; color: rgb(102, 102, 102); z-index: 10; font-size: 12px; }
.dh-pop-vhc .dh-pop-container { font-size: 14px; }
.dh-pop-title { background: rgb(231, 231, 231) none repeat scroll 0% 0%; padding: 0px 10px; line-height: 2; font-size: 16px; }
.dh-pop-close { background: transparent url('discount.png') no-repeat scroll 0% 0%; width: 15px; height: 15px; margin-top: 8px; cursor: pointer; }
.dh-pop-content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; min-width: 360px; }
.dh-pop-details { padding: 20px; }
.pt5 { padding-top: 5px; }
.pb5 { padding-bottom: 5px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.select-form, .select-form .input-wrap { position: relative; display: inline-block; }
.select-form.mini .select-input, .select-form.mini .select-option { width: 70px; }
.select-form .input-wrap i.select-icon { position: absolute; width: 8px; height: 8px; top: 12px; right: 7px; background: transparent url('select-icon.png') no-repeat scroll 0% 0%; }
.select-form .select-input { width: 170px; cursor: default ! important; height: 30px; }
.select-form input.input[readonly] { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.select-form .select-option { width: 170px; display: none; position: absolute; border: 1px solid rgb(231, 231, 231); background-color: rgb(255, 255, 255); z-index: 100; }
.select-form .select-item { padding: 0px 10px; height: 20px; line-height: 20px; }
.select-form .select-item:hover { color: rgb(255, 255, 255); background-color: rgb(26, 177, 146); cursor: default; }
/* ::::: http://www.linshimuye.com/static/dist/css/index.css?_v_=1526972087390 ::::: */

.part-t2 .piclist li p, .part-t6 .piclist li p { text-overflow: ellipsis; -moz-box-orient: vertical; }
.audit-li1:nth-child(11), .audit-li1:nth-child(2), .audit-li1:nth-child(5), .audit-li1:nth-child(8) { margin-left: 28px; margin-right: 28px; }
.audit-li1:nth-child(10), .audit-li1:nth-child(11), .audit-li1:nth-child(12) { margin-bottom: 112px; }
body { background-color: rgb(248, 248, 248); }
.audit_content { width: 1200px; height: 100%; margin: 0px auto; }
.audit_list { height: 2px; display: inline-block; }
.audit_list li { float: left; width: 80px; height: 2px; margin-right: 16px; margin-left: 16px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.audit_list .audit_hov { background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.audit_list li:hover { background: rgb(26, 177, 146) none repeat scroll 0% 0%; }
.audit_list-mbox { text-align: center; width: 100%; position: absolute; bottom: 24px; }
.pt_hd { margin: 88px 0px 20px; overflow: hidden; }
.pt_hd h3 { color: rgb(51, 51, 51); font-size: 28px; margin: 0px 16px 0px 0px; float: left; line-height: 28px; }
.pt_hd i { color: rgb(153, 153, 153); font-size: 16px; font-style: normal; float: left; line-height: 40px; }
.scrollBox { width: 1200px; position: relative; padding-bottom: 70px; }
.scrollBox .piclist { overflow: hidden; }
.scrollBox .ohbox { overflow: hidden; position: relative; width: 1200px; }
.more-index { font-size: 16px; color: rgb(51, 51, 51); margin-left: 34px; }
.part-t1 .tempWrap { width: 1200px ! important; height: 430px; }
.scrollBox .piclist li { float: left; display: inline-block; width: 281px ! important; height: 370px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-right: 10px; margin-left: 10px; position: relative; }
.scrollBox .piclist li h3 { font-size: 16px; color: rgb(51, 51, 51); margin: 0px 0px 10px; text-align: center; }
.scrollBox .piclist li a { display: block; height: 366px; }
.scrollBox .piclist li a:hover { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16); }
.scrollBox .piclist li img { height: 200px; width: 200px; margin: 40px; }
.scrollBox .piclist li span { color: rgb(248, 76, 61); font-size: 16px; font-weight: 700; height: 25px; line-height: 25px; display: block; text-align: center; }
.scrollBox .audit_list-cbox { display: inline-block; position: relative; }
.scrollBox .pageBtn span { display: block; width: 64px; height: 32px; position: absolute; cursor: pointer; font-size: 0px; background-size: contain ! important; }
.scrollBox .pageBtn .prev { left: 0px; background: transparent url('bt_left_nor.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .prev:hover { background: transparent url('bt_left_hover.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .next { right: 0px; top: 0px; background: transparent url('bt_right_nor.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .next:hover { background: transparent url('bt_right_hover.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .prevStop { background: transparent url('bt_left_disable.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .prevStop:hover { background: transparent url('bt_left_disable.png') no-repeat scroll 0% 0%; }
.scrollBox .pageBtn .list { margin-top: 8px; margin-left: 84px; margin-right: 64px; }
.list li { height: 16px; width: 16px; text-align: center; margin-left: 0px; margin-right: 20px; float: left; background-color: transparent; background-image: url('dot_nor.png'); background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: 0% 0%; background-size: contain ! important; cursor: pointer; }
.list li.on { background: transparent url('dot_hover.png') no-repeat scroll 0% 0%; }
.list li:hover { background-color: transparent; }
.part-lunbotu { width: 100%; padding-bottom: 0px; height: 516px; overflow: hidden; }
.part-lunbotu .udit_list-lunbotu-mbox .w1200 .next, .part-lunbotu .udit_list-lunbotu-mbox .w1200 .prev { height: 60px; width: 60px; top: 50%; margin-top: -30px; display: block; position: absolute; text-indent: -999em; overflow: hidden; cursor: pointer; }
.part-lunbotu .udit_list-lunbotu-mbox { text-align: center; }
.part-lunbotu .udit_list-lunbotu-mbox .w1200 .prev { background: transparent url('left_nor.png') no-repeat scroll 0% 0%; left: 10%; }
.part-lunbotu .udit_list-lunbotu-mbox .w1200 .next { background: transparent url('right_nor.png') no-repeat scroll 0% 0%; right: 10%; }
.part-lunbotu .udit_list-lunbotu-mbox .w1200 .prev:hover { background: transparent url('left_hover.png') no-repeat scroll 0% 0%; }
.part-lunbotu .udit_list-lunbotu-mbox .w1200 .next:hover { background: transparent url('right_hover.png') no-repeat scroll 0% 0%; }
.part-lunbotu .ohbox { width: 100%; }
.part-lunbotu .piclist { white-space: nowrap; font-size: 0px; }
.part-lunbotu .piclist li { float: inherit; display: inline-block; width: 100% ! important; height: 516px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; margin: 0px; }
.part-lunbotu .piclist li a { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 100%; }
.part-lunbotu .piclist li a:hover { box-shadow: none; }
.part-t3 .part-t3_WenZhang a:hover, .part-t5 .part-t5_WenZhang a:hover { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16); overflow: hidden; }
.part-t1 .piclist li:nth-child(n) { border-top: 1px solid rgb(130, 192, 234); }
.part-t1 .piclist li:nth-child(2n) { border-top: 1px solid rgb(106, 179, 155); }
.part-t1 .piclist li:nth-child(3n) { border-top: 1px solid rgb(241, 155, 158); }
.part-t1 .piclist li:nth-child(4n) { border-top: 1px solid rgb(154, 81, 79); }
.part-t1 .new-product { border: 1px solid rgb(248, 76, 61); height: 24px; line-height: 22px; width: 66px; text-align: center; background-color: rgb(248, 242, 241); border-radius: 2px; position: absolute; top: 20px; left: 50%; margin-left: -33px; color: rgb(248, 76, 61); overflow: hidden; }
.part-t1 .hide { display: none; }
.part-t2 .part-t2_head-menu { float: right; font-size: 16px; color: rgb(51, 51, 51); }
.part-t2 .part-t2_head-menu .part-t2_head-menu-l { float: left; }
.part-t2 .piclist li h3, .part-t2 .piclist li p { text-align: left; padding: 0px 20px; }
.part-t2 .piclist li { height: 450px; width: 385px ! important; border-top: medium none ! important; margin-left: 8px; margin-right: 8px; }
.part-t2 .piclist li img { width: 346px; height: 214px; margin: 20px 20px 10px; }
.part-t2 .piclist li p { font-size: 14px; color: rgb(153, 153, 153); line-height: 26px; overflow: hidden; display: -webkit-box; }
.part-t2 .piclist li a { margin-top: 3px; height: 440px; }
.part-t2 .ohbox { height: 600px; overflow: hidden; }
.part-t2 .piclist li .part-t2_xiaotu-img div { width: 72px; height: 72px; float: left; margin: 0px 19px 0px 0px; background-color: rgb(248, 248, 248); }
.part-t2 .piclist li .part-t2_xiaotu-img div img { max-width: 100%; max-height: 100%; margin: 0px; }
.part-t2 .part-t2_xiaotu-img { padding: 20px 0px 20px 20px; float: left; }
.part-t2 .part-t2_xiaotu-dp { background-color: rgb(248, 248, 248); width: 72px; height: 72px; line-height: 72px; float: left; margin-top: 20px; }
.part-t2 .part-t2_xiaotu-dpbox { padding: 10px; color: rgb(153, 153, 153); line-height: 30px; text-align: center; background-color: rgb(248, 248, 248); }
.part-t2 .part-t2_xiaotu-dpbox .part-t2_xiaotu-ad_num { border-bottom: 1px solid rgb(231, 231, 231); color: rgb(51, 51, 51); font-size: 16px; white-space: nowrap; overflow: hidden; }
.part-t3 .part-t3_head-menu { float: right; font-size: 16px; color: rgb(51, 51, 51); }
.part-t3 .part-t3_BiaoQian { overflow: hidden; }
.part-t3 .part-t3_WenZhang { margin-top: 20px; overflow: hidden; padding-top: 4px; }
.part-t3 .part-t3_WenZhang ul { width: 1230px; }
.part-t3 .part-t3_WenZhang ul ul { width: auto; }
.part-t3 .part-t3_WenZhang a { overflow: hidden; display: inline-block; width: 100%; }
.part-t3 .part-t3_WenZhang li { float: left; width: 386px; margin-right: 20px; background-color: rgb(255, 255, 255); padding-left: 1px; }
.part-t3 .part-t3_WenZhang li img { width: 100%; height: 240px; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box { padding: 20px; overflow: hidden; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box ul { float: left; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box li { float: left; margin-right: 10px; height: 24px; line-height: 22px; padding: 0px 13px; border: 1px solid rgb(231, 231, 231); border-radius: 4px; color: rgb(159, 159, 159); display: inline-block; width: auto; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box .part-t3_fabulous-r { float: right; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box .part-t3_fabulous-r div { float: left; padding-left: 36px; height: 24px; line-height: 22px; padding-right: 20px; position: relative; color: rgb(153, 153, 153); }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box .part-t3_fabulous-r div i { background: transparent url('lrall.png') no-repeat scroll 0px -75px; height: 23px; width: 23px; position: absolute; left: 0px; display: inline-block; }
.part-t3 .part-t3_WenZhang li .part-t3_fabulous-box .part-t3_fabulous-r div .part-t3_fabulous-collectNum { background-position: -30px -76px; }
.part-t3 .part-t3_WenZhang li:last-child { margin-right: 0px; }
.part-t4 { width: 1200px; position: relative; }
.part-t4 .part-t4_head-menu { float: right; font-size: 16px; color: rgb(51, 51, 51); }
.part-t4 .piclist li { width: 100%; height: 400px; }
.part-t4 .ohbox { overflow: hidden; position: relative; width: 1200px; height: 400px; }
.part-t4 .audit_list li { font-size: 14px; color: rgb(255, 255, 255); height: 24px; width: 24px; line-height: 24px; text-align: center; border: 1px solid rgb(255, 255, 255); margin-left: 0px; margin-right: 20px; background: transparent none repeat scroll 0px 0px; }
.part-t4 .audit_list li.on, .part-t4 .audit_list li:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(142, 154, 171); }
.part-t4 .audit_list-mbox { bottom: 40px; left: 40px; width: initial; }
.part-t5 .part-t5-main2 { display: none; }
.part-t5 .part-t5-tlt1 { border-right: 1px solid rgb(231, 231, 231); padding-right: 24px; font-size: 24px; float: left; cursor: pointer; }
.part-t5 .part-t5-tlt2 { padding: 0px 24px; font-size: 24px; float: left; cursor: pointer; }
.part-t5 .part-t5_head-menu { float: right; font-size: 16px; color: rgb(51, 51, 51); }
.part-t5 .part-t5_head-menu .part-t5_head-menu-l { float: left; }
.part-t5 .part-t5-on { color: rgb(0, 175, 143); }
.part-t5 .part-t5_WenZhang { margin-top: 20px; overflow: hidden; }
.part-t5 .part-t5_WenZhang a { overflow: hidden; display: inline-block; width: 100%; }
.part-t5 .part-t5_WenZhang ul { width: 1250px; }
.part-t5 .part-t5_WenZhang li { float: left; width: 386px; margin-right: 20px; margin-bottom: 20px; background-color: rgb(255, 255, 255); padding-left: 1px; }
.part-t5 .part-t5_WenZhang li img { width: 100%; height: 240px; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box { padding: 20px; overflow: hidden; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box ul { float: left; width: auto; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box li { float: left; margin-right: 10px; height: 24px; line-height: 22px; padding: 0px 13px; border: 1px solid rgb(231, 231, 231); border-radius: 4px; color: rgb(159, 159, 159); display: inline-block; width: auto; margin-bottom: 0px; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box .part-t5_fabulous-r { float: right; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box .part-t5_fabulous-r div { float: left; padding-left: 36px; height: 24px; line-height: 22px; padding-right: 20px; position: relative; color: rgb(153, 153, 153); }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box .part-t5_fabulous-r div i { background: transparent url('lrall.png') no-repeat scroll 0px -75px; height: 23px; width: 23px; position: absolute; left: 0px; display: inline-block; }
.part-t5 .part-t5_WenZhang li .part-t5_fabulous-box .part-t5_fabulous-r div .part-t5_fabulous-collectNum { background-position: -30px -76px; }
.part-t5 .part-t5_WenZhang li:last-child { margin-right: 0px; }
.part-t6 { margin-bottom: 80px; }
.part-t6 .pt_hd { margin: 68px 0px 20px; }
.part-t6 .piclist li { height: 460px; width: 385px ! important; border-top: medium none ! important; margin-left: 8px; margin-right: 8px; }
.part-t6 .piclist li img { width: 100%; height: 240px; margin: 0px 0px 10px; }
.part-t6 .piclist li span { text-align: left; padding: 0px 20px; height: 28px; line-height: 28px; font-size: 14px; color: rgb(102, 102, 102); font-weight: 400; }
.part-t6 .piclist li span i { width: 28px; height: 28px; display: inline-block; overflow: hidden; margin-right: 14px; float: left; border-radius: 90px; }
.part-t6 .piclist li span i img { max-width: 100%; max-height: 100%; }
.part-t6 .piclist li p { text-align: left; font-size: 14px; color: rgb(153, 153, 153); padding: 0px 20px; line-height: 26px; height: 104px; overflow: hidden; display: -webkit-box; }
.part-t6 .piclist li a { margin-top: 3px; height: 450px; }
.part-t6 .piclist li dl { margin-top: 16px; margin-left: 20px; }
.part-t6 .piclist li dl dd { float: left; margin-right: 10px; height: 24px; line-height: 22px; padding: 0px 13px; border: 1px solid rgb(231, 231, 231); border-radius: 4px; color: rgb(159, 159, 159); display: inline-block; }
.part-t6 .ohbox { height: 588px; overflow: hidden; }
/* ::::: http://www.linshimuye.com/static/dist/css/pages.css?_v_=3c23ed089a781327abab7d5a356a1fc5 ::::: */

.dh-footer__body { width: 100%; min-width: 1200px; }
.dh-footer__up { background-color: rgb(255, 255, 255); overflow: hidden; }
.dh-footer__up2 { width: 1200px; margin: 0px auto; color: rgb(153, 153, 153); padding: 70px 0px; background-color: rgb(255, 255, 255); }
.dh-footer__up2 .br-line { border-width: 0px 1px 0px 0px; border-style: none dashed none none; border-color: -moz-use-text-color rgb(231, 231, 231) -moz-use-text-color -moz-use-text-color; }
.dh-footer__up2 .b-ft14 { font-size: 14px; font-weight: 700; line-height: 14px; }
.dh-footer__up2 .b-num-ft14 { line-height: 14px; font-size: 16px; margin-top: 20px; font-weight: 700; color: rgb(153, 153, 153); }
.dh-footer__up2 .b-num-ft16 { color: rgb(0, 176, 140); }
.dh-footer__up2 .ft12 { display: block; color: rgb(153, 153, 153); font-size: 12px; line-height: 12px; margin-top: 18px; font-weight: 400; }
.dh-footer__up2 .w198 { width: 198px; text-align: center; }
.dh-footer__up2 .w198 ul { display: inline-block; text-align: left; }
.dh-footer__up2 .w163 { width: 163px; text-align: center; }
.dh-footer__up2 .w163 ul { display: inline-block; text-align: left; }
.dh-footer__up2 .w160 { width: 160px; }
.dh-footer__code { margin: 0px 15px; }
.dh-footer__code img { width: 100px; height: 100px; }
.dh-footer__code span { font-size: 14px; line-height: 14px; text-align: center; margin-top: 12px; }
.dh-footer__down { color: rgb(153, 153, 153); background-color: rgb(51, 51, 51); padding: 24px 0px; }
.dh-footer__down a, .dh-footer__down span { line-height: 12px; color: rgb(153, 153, 153); font-size: 12px; }
.dh-footer__down-friendshiplink { max-width: 1200px; margin: auto 0px 20px; display: inline-block; }
.dh-footer__down-friendshiplink a { display: inline-block; padding: 0px 14px; border-right: 1px solid rgb(153, 153, 153); margin-top: 18px; }
.dh-footer__down-friendshiplink a:last-child { border-right: medium none; }
.dh-footer__pop { display: none; }
.dl-right { margin-top: 15px; }
.dl-right li { display: none; font-size: 0px; text-align: center; }
.dl-right li span { display: inline-block; width: 100px; }
.dh-footer__code-img { margin-right: 15px; margin-bottom: 0px; margin-left: 15px; margin-top: -15px ! important; width: 145px ! important; }
.dh-footer__code-img img { width: 145px; height: 145px; margin-top: 5px; }
.dh-header__middle { background-color: rgb(255, 255, 255); min-width: 1200px; position: relative; }
.dh-header__middle-content { width: 1200px; margin: 0px auto; padding-bottom: 30px; }
.dh-header__middle-content1 { padding: 42px 60px 0px 12px; position: relative; }
.dh-header__middle-content1 img { max-width: 214px; }
.dh-header__middle-content2 { padding-top: 40px; float: right; }
.dh-header__middle-content2 .c-search { position: relative; margin-right: 24px; border: medium none; }
.dh-header__middle-content2 .c-search input.search-word { padding-left: 10px; height: 34px; width: 280px; border-bottom: 1px solid rgb(26, 177, 146); margin-right: 16px; }
.dh-header__middle-content2 .c-search button { width: 27px; height: 27px; display: inline-block; background: transparent url('01.png') no-repeat scroll -594px -273px; }
.dh-header__middle-content2 .c-search .tips-search { background-color: rgb(255, 255, 255); position: absolute; top: 35px; left: -1px; width: 280px; padding: 6px 10px 6px 8px; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(180, 180, 180) rgb(180, 180, 180); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; z-index: 999999; }
.dh-header__middle-content2 .shoping_cart { width: 50px; height: 36px; position: relative; }
.dh-header__middle-content2 .shoping_cart a { display: inline-block; height: 36px; }
.dh-header__middle-content2 .shoping_cart a .shoping_img { width: 36px; height: 34px; margin-top: -2px; vertical-align: middle; background: transparent url('01.png') no-repeat scroll -626px -268px; }
.dh-header__middle-content2 .shoping_cart a:hover { text-decoration: none; }
.dh-header__middle-content2 .shoping_cart .shoping_num { position: absolute; top: -10px; right: 10px; width: 24px; height: 24px; line-height: 25px; text-align: center; color: rgb(255, 255, 255); font-size: 12px; background: transparent url('06.png') no-repeat scroll -39px -20px; display: none; }
.dh-header__middle-content2 .dh-search_list { margin-top: 38px; }
.dh-header__middle-content2 .dh-search_list li { float: left; margin-right: 14px; }
.dh-header__middle-content2 .dh-search_list li a { color: rgb(102, 102, 102); font-size: 12px; }
.dh-header__middle-content2 .dh-search_list li a.search-hot, .dh-header__middle-content2 .dh-search_list li a:hover { color: rgb(26, 177, 146); }
.dh-header__middle-content4 { padding-top: 33px; }
.dh-header__middle-content4 a.tips-alist { width: 76px; height: 76px; float: left; display: inline-block; text-align: center; text-decoration: none; margin: 0px 20px; }
.dh-header__middle-content4 a.tips-alist i { width: 41px; height: 41px; display: inline-block; background: transparent url('01.png') no-repeat scroll -594px -224px; }
.dh-header__middle-content4 a.tips-alist p { font-size: 14px; margin-top: 4px; }
.dh-header__middle-content4 a.tips-alist2 i { background-position: -651px -223px; }
.dh-header__middle-content4 a.tips-alist3 i { background-position: -708px -223px; width: 42px; }
.dh-header__middle-content4 a.tips-alist4 i { background-position: -766px -223px; }
.dh-header__right { height: 100%; position: fixed; top: 0px; right: 0px; z-index: 999999; }
.dh-header__right:focus { outline: 0px none; }
.dh-header__right .dh-header__right-list { display: table; width: 34px; height: 100%; background-color: rgb(51, 51, 51); text-align: center; }
.dh-header__right .dh-header__right-list > ul { display: table-cell; vertical-align: middle; }
.dh-header__right .line { display: inline-block; width: 26px; border-top: 1px solid rgb(102, 102, 102); }
.dh-header__right .shop-cart { height: 86px; padding: 5px 0px; }
.dh-header__right .shop-cart i { width: 24px; height: 24px; margin-bottom: 8px; margin-top: 4px; background: transparent url('01.png') no-repeat scroll -722px -58px; }
.dh-header__right .shop-cart span { display: inline-block; line-height: 14px; width: 20px; font-size: 12px; color: rgb(0, 175, 142); }
.dh-header__right .shop-cart a:hover span, .dh-header__right .shop-cart a.cart-on:hover .cart-span-on { color: rgb(255, 255, 255); }
.dh-header__right .shop-cart a { height: 86px; display: block; margin-top: -5px; }
.dh-header__right .shop-cart a.a-on, .dh-header__right .shop-cart a:hover { background-color: rgb(0, 175, 142); }
.dh-header__right .shop-cart a:hover i, .dh-header__right .shop-cart a.cart-on:hover .cart-i-on { background: transparent url('01.png') no-repeat scroll -721px -133px; }
.dh-header__right .mine-lists { height: 34px; position: relative; padding-top: 10px; z-index: 1; box-sizing: content-box; background-color: rgb(51, 51, 51); }
.dh-header__right .mine-lists span { display: none; width: 68px; height: 34px; line-height: 34px; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); position: absolute; left: -68px; top: 10px; }
.dh-header__right .mine-lists i { width: 34px; height: 34px; }
.dh-header__right .mine-lists span:hover { color: rgb(51, 51, 51); background-color: rgb(26, 177, 146); }
.dh-header__right .mine-lists a:hover, .dh-header__right .mine-lists a:hover span { display: block; }
.dh-header__right .mine-lists a:hover i { background-color: rgb(0, 175, 142); }
.dh-header__right .mine-lists.mine-list1 i { background: transparent url('01.png') no-repeat scroll -157px -133px; }
.dh-header__right .mine-lists.mine-list2 i { background: transparent url('01.png') no-repeat scroll -237px -133px; }
.dh-header__right .mine-lists.mine-list3 i { background: transparent url('01.png') no-repeat scroll -317px -133px; }
.dh-header__right .mine-lists.mine-list4 i { background: transparent url('01.png') no-repeat scroll -397px -133px; }
.dh-header__right .mine-lists.mine-list5 i { width: 34px; height: 34px; background: transparent url('01.png') no-repeat scroll -237px -302px; cursor: pointer; }
.dh-header__right .to-top { width: 34px; height: 34px; position: absolute; bottom: 0px; left: 0px; background: transparent url('01.png') no-repeat scroll -560px -133px; }
.dh-header__right .mine-list-box { position: fixed; bottom: 0px; }
.dh-header__right .mine-list-box .mine-list6 { padding-bottom: 10px; }
.dh-header__right .mine-list-box .mine-list6 .mine-list6-code { padding: 10px; background-color: rgb(51, 51, 51); text-align: center; position: absolute; left: -116px; display: none; margin-top: -50px; font-size: 12px; color: rgb(255, 255, 255); }
.dh-header__right .mine-list-box .mine-list6 .mine-list6-code img { margin-top: 6px; }
.dh-header__right .mine-list-box .mine-list6 i:hover { background-color: rgb(0, 175, 142); }
.dh-header__right .mine-list-box .mine-list6 i { height: 34px; width: 34px; background: transparent url('01.png') no-repeat scroll -760px -127px; }
.dh-header__right .mine-list-box .mine-list7 { padding-bottom: 40px; }
.dh-header__right .mine-list-box .mine-list7 .mine-list7-code { padding: 10px; background-color: rgb(51, 51, 51); text-align: center; position: absolute; left: -104px; display: none; margin-top: -50px; font-size: 12px; color: rgb(255, 255, 255); }
.dh-header__right .mine-list-box .mine-list7 .mine-list7-code img { margin-top: 6px; }
.dh-header__right .mine-list-box .mine-list7 i:hover { background-color: rgb(0, 175, 142); }
.dh-header__right .mine-list-box .mine-list7 i { height: 34px; width: 34px; background: transparent url('01.png') no-repeat scroll -802px -128px; }
.dh-header__right-list1 { display: none; height: 100%; width: 278px; background-color: rgb(255, 255, 255); }
.dh-header__right-list-part1 { display: none; height: 100%; background-color: rgb(231, 231, 231); }
.dh-header__right-title1 { width: 100%; height: 40px; line-height: 40px; font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(26, 177, 146); text-align: center; }
.dh-header__right-content1 { position: relative; height: 100%; }
.dh-header__right-content1-top span { font-size: 12px; color: rgb(51, 51, 51); height: 46px; line-height: 46px; }
.dh-header__right-content1-top .form-group { margin: 0px 0px 0px 17px; }
.dh-header__right-content1-top .dh-hear__right-more { margin-right: 19px; }
.dh-header__right-content1-top i { width: 12px; height: 12px; background: transparent url('06.png') no-repeat scroll -113px -25px; }
.dh-header__right-content1-bottom { position: absolute; left: 0px; bottom: 40px; width: 100%; height: 101px; padding: 22px 20px 14px; background-color: rgb(26, 177, 146); }
.dh-header__right-content1-bottom .part-number { font-size: 12px; color: rgb(51, 51, 51); }
.dh-header__right-content1-bottom .part-money, .dh-header__right-content1-bottom span { font-size: 12px; color: rgb(235, 37, 46); }
.dh-header__right-content1-bottom span { margin: 0px 2px; }
.dh-header__right-content1-bottom .part-btn { width: 100%; height: 38px; font-size: 16px; line-height: 36px; margin-top: 10px; }
.dh-header__right-content1-middle { overflow-y: auto; height: 100%; padding-bottom: 200px; }
.dh-header__right-content1-middle .checkbox-right span::before { margin-top: -11px; }
.dh-header__right-content1-middle .checkbox-right span::after { margin-top: -10px; }
.dh-header__right-list-part2 { display: none; height: 100%; background-color: rgb(255, 255, 255); }
.dh-header__right-title2 { width: 100%; height: 40px; line-height: 40px; background-color: rgb(26, 177, 146); text-align: center; }
.dh-header__right-title2 .myCard, .dh-header__right-title2 .takeCard { width: 50%; background-color: rgb(231, 231, 231); font-size: 14px; color: rgb(51, 51, 51); cursor: pointer; }
.dh-header__right-title2 .myCard.cardOn, .dh-header__right-title2 .takeCard.cardOn { background-color: rgb(26, 177, 146); color: rgb(255, 255, 255); }
.dh-header__right-content2-myCard { padding-bottom: 70px; height: 100%; }
.dh-header__right-content2-myCard-top span { font-size: 12px; color: rgb(51, 51, 51); height: 46px; line-height: 46px; }
.dh-header__right-content2-myCard-top .dh-hear__right-more { margin-right: 19px; }
.dh-header__right-content2-myCard-top i { width: 12px; height: 12px; background: transparent url('06.png') no-repeat scroll -113px -25px; }
.dh-header__right-content2-myCard-bottom { overflow-y: auto; height: 100%; padding-bottom: 50px; padding-left: 10px; }
.dh-header__right-content2-takeCard { display: none; height: 100%; text-align: center; padding-bottom: 50px; }
.dh-header__right-list-part3 { display: none; width: 100%; height: 100%; background-color: rgb(255, 255, 255); }
.dh-header__right-content3 { height: 100%; }
.dh-header__right-content3-main { overflow-y: auto; height: 100%; padding-bottom: 50px; }
.dh-header__right-list-part4 { display: none; width: 100%; height: 100%; background-color: rgb(255, 255, 255); padding-bottom: 42px; }
.dh-header__right-content4-main { overflow-y: auto; height: 100%; padding: 0px 12px 50px 7px; }
.dh-header__right-content4-main .dh-header__right-content4-main-list { margin-top: 30px; }
.dh-header__right-content4-main .main-l { width: 76px; text-align: center; }
.dh-header__right-content4-main .main-img { width: 50px; height: 50px; margin-left: 12px; }
.dh-header__right-content4-main .main-img.main-img1 { background: transparent url('01.png') no-repeat scroll 0px -460px; }
.dh-header__right-content4-main .main-img.main-img2 { background: transparent url('01.png') no-repeat scroll -80px -460px; }
.dh-header__right-content4-main .main-img.main-img3 { background: transparent url('01.png') no-repeat scroll -160px -460px; }
.dh-header__right-content4-main .main-img.main-img4 { background: transparent url('01.png') no-repeat scroll -240px -460px; }
.dh-header__right-content4-main .main-img.main-img5 { background: transparent url('01.png') no-repeat scroll -320px -460px; }
.dh-header__right-content4-main .main-img.main-img6 { background: transparent url('01.png') no-repeat scroll -400px -460px; }
.dh-header__right-content4-main .main-text { text-align: center; font-size: 12px; color: rgb(51, 51, 51); margin-top: 8px; }
.dh-header__right-content4-main .main-r { width: 166px; }
.dh-header__right-content4-main .main-name { font-size: 12px; height: 58px; color: rgb(102, 102, 102); }
.dh-header__right-content4-main .main-date { font-size: 10px; color: rgb(102, 102, 102); }
.dh-header__right-list-part5 { display: none; width: 100%; height: 100%; background-color: rgb(255, 255, 255); }
.dh-header__right-content5-main { overflow-y: auto; height: 100%; padding-bottom: 50px; }
.dh-store__bespoke-list-form1 { padding-top: 30px; }
.dh-store__bespoke-list-form1 .form-style1 { height: 30px; display: block; text-align: right; line-height: 30px; font-size: 14px; color: rgb(51, 51, 51); width: auto; margin-left: 18px; margin-right: 0px; margin-bottom: 26px; }
.dh-store__bespoke-list-form1 input { width: 166px; height: 33px; line-height: 30px; padding: 0px 0px 0px 10px; font-size: 14px; color: rgb(102, 102, 102); border: 1px solid rgb(214, 214, 214); }
.dh-store__bespoke-list-form1 .form-list1 { margin-bottom: 10px; }
.dh-store__bespoke-list-form1 .form-list1.bespoke-remark1 { width: 1034px; position: relative; margin-bottom: 20px; }
.dh-store__bespoke-list-form1 .bespoke-remark1 { resize: none; font-size: 14px; color: rgb(102, 102, 102); }
.dh-store__bespoke-list-form1 .bespoke-remark2 { width: 166px; height: 186px; border-radius: 4px; border: 1px solid rgb(214, 214, 214); }
a.dh-store__bespoke-list-form-btn1 { height: 38px; line-height: 34px; font-size: 16px; width: 100px; margin: 0px auto; display: block; }
.dh-store__bespoke-write-day1, .dh-store__bespoke-write-month1 { width: 50px ! important; }
.dh-store__bespoke-write-year1 { width: 60px ! important; }
.select-option { max-height: 200px; overflow: auto; }
.dh-store__bespoke-error1 { display: none; margin-left: 18px; margin-bottom: 33px; width: 235px; }
@media screen and (max-width: 1260px) {
	.dh-header__right { opacity: 0; }
	.dh-header__right:hover { opacity: 1; }
}
.dh-header__topbanner { overflow: hidden; }
.dh-header__top { background-color: rgb(248, 248, 248); height: 36px; border-bottom: 1px solid rgb(231, 231, 231); min-width: 1200px; }
.dh-header__top a:hover { text-decoration: underline; }
.dh-header__top-content1 .city_list .current_city .current_city_l a:hover, .dh-header__top-content1 .city_list .current_city_r a:hover, .dh-header__top-content1 a:hover { text-decoration: none; }
.dh-header__top-content { width: 1200px; margin: 0px auto; height: 35px; }
.dh-header__top-content1 { display: none; height: 35px; line-height: 35px; position: relative; }
.dh-header__top-content1 a { display: inline-block; }
.dh-header__top-content1 a i { width: 28px; height: 28px; vertical-align: middle; background: transparent url('01.png') no-repeat scroll -3px -414px; }
.dh-header__top-content1 a .city { font-size: 12px; color: rgb(26, 177, 146); padding-right: 8px; margin-left: -4px; height: auto; }
.dh-header__top-content1 span { display: inline-block; height: 36px; line-height: 36px; font-size: 12px; color: rgb(102, 102, 102); margin-left: -5px; }
.dh-header__top-content1 .city-change { margin-right: 10px; }
.dh-header__top-content1 .city-change:hover .city_list { display: block; }
.dh-header__top-content1 .city_list { width: 360px; height: 328px; border: 1px solid rgb(231, 231, 231); position: absolute; top: 36px; left: 0px; background-color: rgb(255, 255, 255); z-index: 999; padding: 0px 10px; display: none; }
.dh-header__top-content1 .city_list .current_city .current_city_l { height: 32px; width: 230px; line-height: 32px; color: rgb(102, 102, 102); font-size: 12px; }
.dh-header__top-content1 .city_list .current_city .current_city_l span { color: rgb(26, 177, 146); }
.dh-header__top-content1 .city_list .current_city .current_city_l a { color: rgb(153, 153, 153); }
.dh-header__top-content1 .city_list .current_city_r { width: 100px; height: 24px; line-height: 24px; border: 1px solid rgb(26, 177, 146); background-color: rgb(231, 231, 231); margin: 4px 0px; }
.dh-header__top-content1 .city_list .current_city_r a { width: 100px; height: 24px; line-height: 24px; font-size: 12px; color: rgb(26, 177, 146); }
.dh-header__top-content1 .city_list .current_city_r a i { width: 16px; height: 24px; margin-top: -2px; background: transparent url('01.png') no-repeat scroll -9px -417px; }
.dh-header__top-content1 .city_list .hot_city { height: 140px; border-top: 1px solid rgb(231, 231, 231); }
.dh-header__top-content1 .city_list .hot_city p { height: 34px; line-height: 34px; font-size: 12px; color: rgb(153, 153, 153); }
.dh-header__top-content1 .city_list .hot_city .hot_city_list li { float: left; width: 40px; height: 24px; line-height: 24px; margin-bottom: 4px; text-align: center; margin-right: 8px; }
.dh-header__top-content1 .city_list .hot_city .hot_city_list li a { height: 24px; display: block; font-size: 12px; color: rgb(102, 102, 102); }
.dh-header__top-content1 .city_list .hot_city .hot_city_list li a:hover { color: rgb(255, 255, 255); background-color: rgb(26, 177, 146); text-decoration: none; }
.dh-header__top-content1 .city_list .hot_city .c-search { margin-top: 2px; margin-bottom: 5px; width: 162px; height: 26px; line-height: 24px; position: relative; }
.dh-header__top-content1 .city_list .hot_city .c-search input { width: 100px; height: 24px; padding: 0px 10px; font-size: 12px; color: rgb(180, 180, 180); }
.dh-header__top-content1 .city_list .hot_city .c-search button { width: 60px; height: 24px; font-size: 12px; color: rgb(255, 255, 255); position: relative; }
.dh-header__top-content1 .city_list .hot_city .city_letter li { line-height: 17px; float: left; margin-right: 4px; }
.dh-header__top-content1 .city_list .hot_city .city_letter li a { font-size: 12px; color: rgb(153, 153, 153); }
.dh-header__top-content1 .city_list .hot_city .city_letter li:hover { background-color: rgb(26, 177, 146); }
.dh-header__top-content1 .city_list .hot_city .city_letter li:hover a { color: rgb(255, 255, 255); }
.dh-header__top-content1 .city_list .city_desc { height: 153px; width: 348px; overflow-y: auto; border-top: 1px solid rgb(231, 231, 231); padding-top: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dh-header__top-content1 .city_list .city_desc li { line-height: 16px; }
.dh-header__top-content1 .city_list .city_desc li i { font-style: normal; font-size: 12px; color: rgb(255, 255, 255); width: 16px; height: 16px; line-height: 16px; background: transparent url('02.png') no-repeat scroll -505px -24px; text-align: center; }
.dh-header__top-content1 .city_list .city_desc li .citys { width: 315px; margin-bottom: 18px; }
.dh-header__top-content1 .city_list .city_desc li .citys li { float: left; height: 16px; line-height: 16px; margin-right: 14px; margin-bottom: 6px; }
.dh-header__top-content1 .city_list .city_desc li .citys li a { line-height: 16px; font-size: 12px; color: rgb(153, 153, 153); }
.dh-header__top-content1 .city_list .city_desc li .citys li a:hover { background-color: rgb(26, 177, 146); color: rgb(255, 255, 255); }
.dh-header__top-content2 { height: 36px; line-height: 36px; }
.dh-header__top-content2 li { float: left; position: relative; height: 36px; margin-top: 1px; }
.dh-header__top-content2 li span { display: inline-block; font-size: 12px; padding: 0px 10px; color: rgb(26, 177, 146); margin-left: -4px; cursor: pointer; }
.dh-header__top-content2 li a { display: inline-block; font-size: 12px; padding: 0px 10px; color: rgb(102, 102, 102); }
.dh-header__top-content2 li a.user-name { border-right: medium none; color: rgb(26, 177, 146); }
.dh-header__top-content2 li a.integral { border-right: medium none; margin-left: -4px; padding-right: 0px; }
.dh-header__top-content2 li a.integral span { color: rgb(248, 76, 61); margin-left: 10px; }
.dh-header__top-content2 li a.landing { border-right: medium none; color: rgb(26, 177, 146); padding: 0px; margin-right: -4px; }
.dh-header__top-content2 li a.register { color: rgb(26, 177, 146); padding-left: 0px; margin-left: 8px; }
.dh-header__top-content2 li a i { width: 9px; height: 5px; vertical-align: middle; background: transparent url('01.png') no-repeat scroll -240px -420px; margin: 0px 0px 0px 10px; }
.dh-header__top-content2 li a:hover { color: rgb(26, 177, 146); }
.dh-header__top-content2 li .level { width: 24px; height: 24px; vertical-align: middle; margin-left: -4px; color: rgb(255, 255, 255); line-height: 24px; text-align: center; font-style: normal; }
.dh-header__top-content2 li .level.leve1 { background: transparent url('dengji.png') no-repeat scroll -22px -509px; }
.dh-header__top-content2 li .level.leve2 { background: transparent url('dengji.png') no-repeat scroll -76px -509px; }
.dh-header__top-content2 li .level.leve3 { background: transparent url('dengji.png') no-repeat scroll -142px -509px; }
.dh-header__top-content2 li .level.leve4 { background: transparent url('dengji.png') no-repeat scroll -215px -509px; }
.dh-header__top-content2 li .level.leve5 { background: transparent url('dengji.png') no-repeat scroll -289px -509px; }
.dh-header__top-content2 li .ver-line { width: 1px; height: 12px; vertical-align: middle; background: transparent url('01.png') no-repeat scroll -80px -420px; }
.dh-header__top-content2 li .customer_center_list, .dh-header__top-content2 li .mine_list, .dh-header__top-content2 li .more_list { width: 88px; position: absolute; top: 35px; left: 0px; background-color: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(231, 231, 231) rgb(231, 231, 231); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-top: 0px; z-index: 999; display: none; }
.dh-header__top-content2 li .customer_center_list li, .dh-header__top-content2 li .mine_list li, .dh-header__top-content2 li .more_list li { float: left; height: 34px; line-height: 29px; }
.dh-header__top-content2 li .customer_center_list li a, .dh-header__top-content2 li .mine_list li a, .dh-header__top-content2 li .more_list li a { border: medium none; padding: 0px 9px; }
.dh-header__top-content2 li .customer_center_list li a:hover, .dh-header__top-content2 li .mine_list li a:hover, .dh-header__top-content2 li .more_list li a:hover { text-decoration: underline; color: rgb(26, 177, 146); }
.dh-header__top-content2 .customer_center:hover .mime-icon2, .dh-header__top-content2 .mine_furniture:hover .mime-icon1, .dh-header__top-content2 .morebox:hover .mime-icon3 { background: transparent url('01.png') no-repeat scroll -160px -419px; }
.dh-index__wxlogin-reg { width: 300px; height: 405px; margin-left: 20px; display: none; }
.dh-header__right-account-login { width: 350px; height: 390px; margin: 30px auto 0px; }
.dh-header__right-account-login .input { height: 40px; line-height: 38px; }
.dh-header__right-account-login .dh-index__form1 { width: 314px; padding-top: 0px; margin-left: 20px; height: 390px; }
.dh-header__right-account-login .account_login1 { text-align: center; }
.dh-index__form { width: 474px; height: 100%; padding-top: 66px; }
.dh-index__form p { font-size: 18px; margin-bottom: 26px; }
.dh-index__form .dh-index__choice { width: 312px; margin-bottom: 24px; }
.dh-index__form .dh-index__choice a { display: block; width: 50%; }
.dh-index__formBottom { width: 310px; font-size: 0px; }
.dh-index__formBottom span { display: inline-block; font-size: 14px; float: left; line-height: 24px; }
.dh-index__formBottom span.ft0 { font-size: 0px; }
.dh-index__formBottom span i { width: 24px; height: 24px; vertical-align: middle; cursor: pointer; float: left; margin-left: 10px; }
.dh-index__formBottom span i.qq { background-image: url('qqlogin.png'); }
.dh-index__formBottom span i.qq:hover { background-image: url('qqlogin_active.png'); }
.dh-index__formBottom span i.wx { background-image: url('wxlogin.png'); }
.dh-index__formBottom span i.wx:hover { background-image: url('wxlogin_active.png'); }
.dh-touch-load-parents { position: absolute; z-index: 2; width: 140px; height: 140px; left: -30px; display: none; }
.dh-header__bottom { background-color: rgb(255, 255, 255); }
.dh-header__bottom .dh-header__bottom-content { width: 1200px; margin: 0px auto; }
.dh-header__bottom .dh-header__bottom-content .nav { background: rgb(255, 255, 255) none repeat scroll 0% 0%; white-space: nowrap; float: left; }
.dh-header__bottom .dh-header__bottom-content .nav-container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 80px; }
.dh-header__bottom .dh-header__bottom-content .nav-container li { height: 80px; line-height: 80px; width: 88px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); position: inherit; }
.dh-header__bottom .dh-header__bottom-content .nav-container li a { font-size: 16px; color: rgb(51, 51, 51); }
.dh-header__bottom .dh-header__bottom-content .nav-container li .lsmy-nav { width: 100%; text-align: center; background-color: rgb(255, 255, 255); position: absolute; overflow: hidden; margin-bottom: -166px; z-index: 99999; padding: 30px 0px; display: none; left: 0px; }
.dh-header__bottom .dh-header__bottom-content .nav-container li .lsmy-nav img { max-width: 40px; }
.dh-header__bottom .dh-header__bottom-content .nav-container li .lsmy-nav a { display: inline-block; margin-right: 60px; line-height: 50px; width: 70px; text-align: center; overflow: hidden; }
.dh-header__bottom .dh-header__bottom-content .nav-container li .nav-list-link-border { border-right: 1px solid rgb(231, 231, 231); height: 16px; margin-top: 34px; }
.dh-header__bottom .dh-header__bottom-content .nav-container li:hover > a, .dh-header__bottom .dh-header__bottom-content .nav-container li:hover > h2 { border-bottom: 3px solid rgb(25, 178, 145); color: rgb(1, 175, 142); z-index: 999999; }
.dh-header__bottom .dh-header__bottom-content .login-menu { display: none; }
.im_icon { background-image: url('im-icon.png'); }
.im_icon.close { width: 20px; height: 20px; background-position: 0px -120px; }
.im_icon.emoji { background-position: 0px -140px; }
.im_icon.image { background-position: -30px -140px; }
.im_icon.files { background-position: -60px -140px; }
.dh-im__window { width: 450px; height: 592px; position: fixed; top: 50%; left: 50%; margin: -296px 0px 0px -225px; z-index: 999; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); display: none; border: 1px solid rgb(202, 202, 202); }
.dh-im__window .dh-im__window_header { height: 38px; padding: 0px 10px 0px 20px; line-height: 38px; background: rgb(231, 231, 231) none repeat scroll 0% 0%; color: rgb(85, 85, 85); border-bottom: 1px solid rgb(214, 214, 214); }
.dh-im__window .dh-im__window_header .im_icon { display: block; float: right; margin-top: 9px; cursor: pointer; }
.dh-im__window .dh-im__window_header span { margin-left: 20px; }
.dh-im__window .dh-im__window_body { height: 364px; border-bottom: 1px solid rgb(214, 214, 214); padding-top: 24px; overflow-y: scroll; overflow-x: hidden; }
.dh-im__window .dh-im__window_footer { height: 190px; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_btns { height: 38px; padding: 4px 20px; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_btns li { float: left; width: 34px; height: 34px; border-radius: 4px; border: 1px solid rgb(255, 255, 255); margin-right: 12px; overflow: hidden; position: relative; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_btns li i { margin: 5px auto; width: 30px; height: 24px; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_btns li:hover { border-color: rgb(214, 214, 214); }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_input { height: 120px; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_input textarea { width: 100%; height: 120px; resize: none; padding: 20px; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_sendbtn { height: 32px; padding: 4px 10px; text-align: right; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_sendbtn button, .dh-im__window .dh-im__window_footer .dh-im__window_footer_sendbtn div { width: 60px; height: 24px; margin-right: 14px; text-align: center; line-height: 24px; color: rgb(255, 255, 255); border-radius: 4px; display: inline-block; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_sendbtn div.cancel { background: rgb(153, 153, 153) none repeat scroll 0% 0%; }
.dh-im__window .dh-im__window_footer .dh-im__window_footer_sendbtn button.submit { background: rgb(26, 177, 146) none repeat scroll 0% 0%; }
.dh-im__window li > #fileUpload, .dh-im__window li > #imgUpload { position: absolute; font-size: 0px; padding: 0px; height: 100%; outline: 0px none; width: 100%; }
.dh-im__window .dh-im__window_process, .dh-im__window .dh-im__window_process_file { position: absolute; top: 400px; width: 0px; height: 2px; background: rgb(26, 177, 146) none repeat scroll 0% 0%; left: 0px; z-index: 99; display: none; }
.dh-im__window_emoji { width: 400px; height: 0px; opacity: 0; border: 1px solid rgb(231, 231, 231); position: absolute; top: 398px; left: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 999; overflow: hidden; transition: all 0.3s ease 0s; }
.dh-im__window_emoji ul { width: 100%; height: 246px; overflow: auto; padding: 5px; }
.dh-im__window_emoji .emoji_btns { height: 32px; line-height: 32px; font-size: 0px; }
.dh-im__window_emoji .emoji_btns div { display: inline-block; width: 50%; font-size: 14px; text-align: center; text-decoration: none; color: rgb(102, 102, 102); background: rgb(231, 231, 231) none repeat scroll 0% 0%; cursor: pointer; }
.dh-im__window_emoji .emoji_btns div.active { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dh-im__window_emoji ul.recent { display: none; }
.dh-im__window_record { height: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; top: 398px; left: 0px; right: 0px; overflow: hidden; transition: all 0.3s ease 0s; }
.dh-im__window_record > i, .dh-im__window_record > span { display: block; float: left; line-height: 44px; }
.dh-im__window_record i { width: 15px; height: 15px; border-radius: 100%; background: rgb(26, 177, 146) none repeat scroll 0% 0%; margin: 14px 0px 0px 20px; }
.dh-im__window_record span { margin-left: 12px; color: rgb(26, 177, 146); }
.dh-im__window_record > button { float: right; width: 52px; height: 24px; margin: 9px 12px 0px 0px; border-radius: 4px; border: 1px solid rgb(102, 102, 102); }
.dh-im__window_record button.send { color: rgb(26, 177, 146); border-color: rgb(26, 177, 146); }
.dh-im__window_record .record_len { background: rgba(26, 177, 146, 0.1) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; height: 44px; width: 0px; transition: all 1s ease 0s; }
.dh-im__window_emoji ul::after, .dh-im__window_footer_btns::after, .dh-im__window_record::after, .im_client::after, .im_client_txt_content::after, .im_client_txt_file .card .card_body::after, .im_client_txt_file .file_info::after, .im_row::after { clear: both; display: table; content: ""; }
#flashcontent { display: none; }
.dh-im__imgview { position: fixed; top: 0px; left: 0px; bottom: 0px; width: 100%; z-index: 100001; text-align: center; display: none; cursor: pointer; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; overflow: auto; }
.dh-im__imgview img { vertical-align: middle; }
.dh-im__imgview::after { content: ""; width: 0px; height: 100%; display: inline-block; vertical-align: middle; overflow: hidden; }
